In [2]:
# import pandas as pd
# file_num = 0
# row_start = file_num * 100000000
# row_end = 100000000
# data = pd.read_csv('/data/pcs/papercitations.tsv', skiprows=row_start, nrows=row_end)

# while not data.empty:
#     print(file_num)
#     with open('/data/pcs/split_papercitations/papercitations_' + str(file_num) + '.tsv', 'wt') as out_file:
#         data.to_csv(out_file)
#     file_num += 1
#     row_start = file_num * 100000000
#     row_end = 100000000
#     data = pd.read_csv('/data/pcs/papercitations.tsv', skiprows=row_start, nrows=row_end)
# print(">>> done")

0
1
2
3
4
5
6
7
8
9
10
11
12

EmptyDataError: No columns to parse from file

In [3]:
from itertools import chain
import pandas as pd

# ori_paperauthor = pd.read_csv('/data/pcs/paperauthororder.tsv', delimiter="\t", encoding='unicode_escape', usecols=['paperid', 'authorid'])
# ori_papercitations = pd.read_csv('/data/pcs/split_papercitations/papercitations_1.tsv', delimiter="\t", encoding='unicode_escape', header=None)
# ori_papercitations.columns = ['citingpaperid', 'citedpaperid']
# print("done")

done

In [4]:
ori_paperyear = pd.read_csv('/data/pcs/paperyear.tsv', delimiter="\t", encoding='unicode_escape')
print("done")

done

In [ ]:
for i in range (1, 13):
    print("start file {}".format(i))
    ori_papercitations = pd.read_csv('/data/pcs/split_papercitations/papercitations_{}.tsv'.format(i), delimiter=",|\t", usecols=[1,2], encoding='unicode_escape', header=None)
    ori_papercitations.columns = ['citingpaperid', 'citedpaperid']
    paper_citation_year = pd.merge(ori_papercitations, ori_paperyear, left_on='citingpaperid', right_on='paperid')
    try:
        paper_citation_year.to_csv('/data/pcs/split_papercitations/paper_citation_year_{}.tsv'.format(i), columns=['citingpaperid', 'citedpaperid', 'paperyear'])
    except:
        print("error")
    print("done file {}".format(i))

start file 1

/root/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

done file 1
start file 2
done file 2
start file 3
done file 3
start file 4

In [26]:
# ori_paperauthor.head(100)
ori_papercitations.head(10)

   citingpaperid  citedpaperid
0             37     203050901
1             37    1610897565
2             37    1926703596
3             37    1983428783
4             37    2037594219
5             37    2037636494
6             37    2087982311
7             37    2092363726
8             37    2232592944
9             37    2313072105

In [27]:
ori_paperyear.head(10)

      paperid  paperyear
0  2319823014       2010
1  2335196252       1987
2  2327534339       2013
3  2243591750       2011
4  2319823018       1933
5  2335196256       2015
6  2327534342       2003
7  2243591751       1968
8  2319823023       1978
9  2335196259       2010

In [28]:
# paper_author_year = pd.merge(ori_paperauthor, ori_paperyear)
paper_citation_year = pd.merge(ori_papercitations, ori_paperyear, left_on='citingpaperid', right_on='paperid')
print("done")

done

In [30]:
# paper_author_year.head(10)
paper_citation_year.head(100)

    citingpaperid  citedpaperid  paperid  paperyear
0              37     203050901       37       2004
1              37    1610897565       37       2004
2              37    1926703596       37       2004
3              37    1983428783       37       2004
4              37    2037594219       37       2004
5              37    2037636494       37       2004
6              37    2087982311       37       2004
7              37    2092363726       37       2004
8              37    2232592944       37       2004
9              37    2313072105       37       2004
10            108     583459574      108       2013
11            108     643248926      108       2013
12            108    1520342355      108       2013
13            108    1580980889      108       2013
14            108    1603043449      108       2013
15            108    2155007194      108       2013
16            108    2507231141      108       2013
17            125    1564733196      125       1988
18            125    1970185999      125       1988
19            125    2048600620      125       1988
20            125    2098055837      125       1988
21            125    2121773050      125       1988
22            147     132242577      147       2008
23            147    1973725016      147       2008
24            147    2084894991      147       2008
25            147    2091764496      147       2008
26            147    2156953029      147       2008
27            197     159684453      197       2000
28            197    1989071300      197       2000
29            197    1997169500      197       2000
..            ...           ...      ...        ...
70            285    2600355890      285       2012
71            285    2602720324      285       2012
72            417     169276664      417       2002
73            417     248386418      417       2002
74            417    1493491511      417       2002
75            417    1525970148      417       2002
76            417    1527311855      417       2002
77            417    1539818770      417       2002
78            417    1543243786      417       2002
79            417    1569703086      417       2002
80            417    1583269973      417       2002
81            417    1598226182      417       2002
82            417    1606352672      417       2002
83            417    1977633095      417       2002
84            417    1989342711      417       2002
85            417    1994161251      417       2002
86            417    1994740826      417       2002
87            417    2000735937      417       2002
88            417    2003407712      417       2002
89            417    2005138264      417       2002
90            417    2007965578      417       2002
91            417    2013601309      417       2002
92            417    2018326853      417       2002
93            417    2039283193      417       2002
94            417    2044779067      417       2002
95            417    2053120142      417       2002
96            417    2060842938      417       2002
97            417    2073039690      417       2002
98            417    2080647889      417       2002
99            417    2095654817      417       2002

[100 rows x 4 columns]

In [31]:
# paper_author_year.to_csv('/data/pcs/paper_author_year.tsv', columns=['paperid', 'authorid', 'paperyear'])
try:
    paper_citation_year.to_csv('/data/pcs/split_papercitations/paper_citation_year_0.tsv', columns=['citingpaperid', 'citedpaperid', 'paperyear'])
except:
    print("error")
print("done")

done